<h1 class="flex justify-center items-center text-4xl mb-5">Task Development</h1>
    <div class="main-scheme">
      <div
        class="scheme flex mt-10 flex-wrap gap-4 p-4 bg-gray-100 h-auto border border-gray-100 dark:placeholder-gray-600 dark:border-gray-800">
        <!-- Card 1 -->
        <div
          class="flex-1 min-w-[calc(50%-1rem)] bg-white rounded-lg shadow-md p-4 border border-gray-100 dark:placeholder-gray-600 dark:border-gray-800">
          <h2 class="text-xl font-semibold mb-2">Today</h2>
          <div class="flex flex-col justify-center items-center">
            <img class="w-44" src="assets/images/trofeo.png" alt="">
            <span class="m-6 text-xl">All done</span>
          </div>
        </div>

        <!-- Card 2 -->
        <div
          class="flex-1 min-w-[calc(50%-1rem)] bg-white rounded-lg shadow-md p-4 border border-gray-100 dark:placeholder-gray-600 dark:border-gray-800">
          <h2 class="text-xl font-semibold mb-2 ">Add Task</h2>
          <div class="flex flex-col justify-center items-center">
            <img class="w-44" src="assets/images/tarea.png" alt="">
            <div class="flex w-full justify-end">
              <span class="m-6 text-xl">
                <a routerLink="../add-task">
                  <img class="w-10 hover:scale-110" src="assets/images/anadir.png" alt="">
                </a>
              </span>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div
          class="w-full bg-white rounded-lg shadow-md p-4 border border-gray-100 dark:placeholder-gray-600 dark:border-gray-800">
          <h2 class="text-xl font-semibold mb-2">Achievement</h2>
          <div class="flex flex-col">
            <div class="flex flex-row justify-between m-5 items-center">
              <img class="w-16" src="assets/images/medalla.png" alt="">
              <span>1/4</span>
              <div class="flex flex-col">
                <span>Daily</span>
                <div>1joaidw</div>
              </div>
            </div>
            <div class="flex flex-row justify-between m-5 items-center">
              <img class="w-16" src="assets/images/copa-de-oro.png" alt="">
              <span>1/4</span>
              <div class="flex flex-col">
                <span>Weekly</span>
                <div>1joaidw</div>
              </div>
            </div>
            <div class="flex flex-row justify-between m-5 items-center">
              <img class="w-16" src="assets/images/gold-mine.png" alt="">
              <span>1/4</span>
              <div class="flex flex-col">
                <span>Montly</span>
                <div>1joaidw</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
