<img class="im-bg z-10 left-0 absolute w-full opacity-70 h-3/6" src="assets/images/pngwing.png" alt="Imagen de fondo">
<div class="flex justify-center align-middle flex-col">

  <div class="flex justify-center flex-row m-2 flex-wrap z-10 mt-10">

    <a routerLink="../development">
      <div class="card wallet-1 m-1">
        <div class="overlay"></div>
        <div class="circle">
        </div>
        <img class="w-36 z-10" src="/assets/images/programacion.png" alt="">
        <p>Development</p>
      </div>
    </a>

    <a routerLink="../medicine">
      <div class="card wallet-2 m-1">
        <div class="overlay"></div>
        <div class="circle">
        </div>
        <img class="w-36 z-10" src="/assets/images/kit-de-primeros-auxilios.png" alt="">
        <p>Medicine</p>
      </div>
    </a>

    <a routerLink="../investing">
      <div class="card wallet-3 m-1">
        <div class="overlay"></div>
        <div class="circle">
        </div>
        <img class="w-36 z-10" src="/assets/images/en-linea.png" alt="">
        <p>Investing</p>
      </div>
    </a>

    <a routerLink="../workout">
      <div class="card wallet-4 m-1">
        <div class="overlay"></div>
        <div class="circle">
        </div>
        <img class="w-36 z-10" src="/assets/images/estilo-de-vida.png" alt="">
        <p>Workout</p>
      </div>
    </a>

  </div>

</div>


