@media (max-width: 850px) {
  .navbar-second{
    font-size: 0.7rem;
  }
  .main-img > img{
    width: 5vh;
  }
}

@media (max-width: 1350px) {
  .content-main {
    display: flex;
    flex-direction: column;
  }
  .content-main-02{
    margin-left: 0;
    margin-top: 2vh;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: white; /* Ajusta según tu diseño */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Da un margen superior al contenido para que no quede debajo del navbar */
section {
  margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  z-index: 1; /* Asegúrate de que el contenido esté detrás del navbar */
}
