.priority-main > div {
  display: flex;
  width: 100%;
}

.priority-item {
  display: flex ;
  width: 100%;
  justify-content: center;
  color: black;
  padding: 0.5vh 0 0.5vh 0;
  margin-top: 2vh;
}

.priority-item {
  @apply border border-gray-100 dark:placeholder-gray-600 dark:border-gray-800;
}

.priority-item:focus {
  background-color: #16a34a; /* Verde */
  outline: none; /* Remueve el borde azul estándar */
}

.priority-item:active {
  background-color: #15803d; /* Verde más oscuro */
}


.priority-item:hover{
  background-color: #d9ebeb;
}

@media (max-width: 800px) {

  .priority > div{
    margin: 1px;
    margin-top: 1vh;
  }
  .priority-item{
    font-size: 0.7rem;
  }
}

@media (max-width: 1350px){
  .main-content{
    display: flex;
    flex-wrap: wrap;
  }
}
