@media (max-width: 800px) {

  .title-prio{
    margin-bottom: 1vh;
  }

  .priority > div{
    margin: 1px;
  }
  .priority-item{
    margin-top: 10vh;
    font-size: 0.7rem;
  }

  .navbar-main {
    font-size: 0.7rem;
  }
}
