<img class="z-10 left-0 absolute w-full opacity-70 h-full" src="assets/images/pngwing.png" alt="Imagen de fondo">
<div
  class="z-20 section-header bg-transparent rounded-lg shadow-lg p-8 flex items-center justify-between w-full mx-auto flex-row">
  <!-- Contenido izquierdo -->

  <div class="sect-02 flex flex-row align-middle">
    <!-- Columna izquierda (ocupa dos columnas) -->
    <div class="sect-p w-7/12">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Personal Development</h1>
      <div class="w-5/6">
        <p class="text-gray-600 mb-4">
          La sección de <strong>Aprendizaje y Desarrollo Personal</strong> será un espacio dedicado a proporcionar
          recursos, herramientas
          y estrategias para mejorar tus habilidades individuales. En esta sección, podrás
          acceder a información general y recomendada sobre diversas áreas de desarrollo personal, que incluyen tanto
          habilidades técnicas como blandas.

          <br><br>Los temas cubrirán aspectos como el autoconocimiento, la gestión del tiempo, la productividad, la
          resolución de problemas, la comunicación efectiva, entre otros. Además, se incluirán recomendaciones de
          cursos,
          artículos, podcasts y videos educativos, organizados por áreas de interés. Esta sección también puede ofrecer
          ejercicios prácticos, estudios de caso y sugerencias para aplicar los conocimientos adquiridos en el día a
          día,
          fomentando una mejora continua y el crecimiento personal.

          <br><br>La meta de esta sección es impulsar a los usuarios a tomar acción en su proceso de aprendizaje,
          motivándolos a dedicar tiempo al desarrollo de nuevas competencias y a potenciar sus fortalezas personales.
        </p>
        <p class="text-sm text-slate-200">Ultima modificación. Enero 2025</p>
      </div>
    </div>

    <!-- Contenido derecho -->
    <div class="main-image flex align-middle items-center justify-center">
      <img class="w-96" src="/assets/images/ai_personal.png" alt="">
    </div>
  </div>
</div>

<router-outlet>
  <app-info-card></app-info-card>
</router-outlet>
